<link rel="stylesheet" href="/css/adminRents/adminRents.css">

<button>Crear Renta</button>
<div id="rents-card-container" class="rents-card-container"></div>

<script src="js/adminRents/adminRents.js"></script>